.avatar {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
}

.avatarWithBorder {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px var(--gray-800) solid;
  outline: 2px solid var(--green-500);
}
